
# Ignore caches, python versions, and DS stores.
__pycache__/
.DS_Store
.python-version
ateams.egg-info/
.vscode/

# Ignore object files.
*.o
*.so
*.c
*.log
build/

references.bib
refs.md
_refs.md
_README.md

# Ignore contents, but not directories.
test/stats
test/**/*.txt
test/**/*.json
test/**/*.npz
test/**/*.lz

*hopper*
*pangolin*
update.sh

# Ignore *most* testing stuff.
test/sync.profiles.sh
# test/*.txt
test/*.prof
test/.hopper*
test/.pangolin*
# test/profiles/**/*
test/profiles/**/*.txt
test/profiles/**/*.err
test/profiles/**/*.out
!test/profiles/**/*.gitkeep
test/scratch.py

# Ignore annotated compilation summaries from Cython.
ateams/arithmetic/*.html
ateams/arithmetic/*.so

ateams/**/*.html
ateams/**/*.so
ateams/complex/*.cpp
ateams/statistics/*.cpp

!ateams/models/tables/*.html
